<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939457587539-a52tuuqksog9ghntu9mtlfk9j0v3r1ma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939457587539-a52tuuqksog9ghntu9mtlfk9j0v3r1ma</string>
	<key>API_KEY</key>
	<string>AIzaSyAb4QVmWPqkGCbqB-P2RY8MucfHCm3ML98</string>
	<key>GCM_SENDER_ID</key>
	<string>939457587539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cybersquad.creatorshop</string>
	<key>PROJECT_ID</key>
	<string>creator-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>creator-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939457587539:ios:99dc8a526ddd469763d9a6</string>
</dict>
</plist>